.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 24px;
    height: 900px;
}

.item-1 {
    flex-basis: 100px;
    align-self: flex-end;
}

.item-2 {
    flex-basis: 100px;
}

.item-3 {
    flex-basis: 100px;
}